- name: firewall | Allow SSH first
  ufw:
    rule: allow
    port: "{{ ssh_port }}"
    proto: tcp
    insert: 1

- name: firewall | Reset UFW
  command: ufw --force reset
  changed_when: true

- name: firewall | Allow SSH, HTTP, HTTPS
  ufw:
    rule: allow
    port: "{{ item }}"
  loop:
    - "{{ ssh_port }}"
    - 80
    - 443

- name: firewall | Enable UFW
  ufw:
    state: enabled
